/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
	=============================
	Grid
	=============================
*/

body {
	background: hsl(180, 74%, 5%);
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

main {
	background-color: hsl(193, 62%, 14%); 
	border-radius: 5px;
	margin: 30px 15px;
	padding: 15px;
	color: rgb(223, 221, 235);
}

img, figcaption {
	display: block;
	max-width: 100%;
	margin: auto;
}

.img-caption {
	margin-top: 7px;
}

figure {
	background:hsl(180, 74%, 5%);
	padding: 20px 30px 10px 30px;
	width: 90%;
	margin: auto;
}

/*
	=============================
	Typography
	=============================
*/

h1 {
	font-size: 144px;
	padding: 2%;
	margin: 0 auto;	
	color: rgb(168, 221, 148);
	background: -webkit-linear-gradient(rgb(168, 221, 148),rgb(15, 180, 117));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2, .border-color {
	border-top: solid;
	border-width: 3px;
	font-size: 36px;
	max-width: 550px;
	padding: 25px 0px;
	margin: auto;
	font-weight: bold;
	margin-top: 35px;
	color: rgb(168, 221, 148);
	background: -webkit-linear-gradient(rgb(168, 221, 148),rgb(15, 180, 117));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.border-color {
	padding: 0px;
}

p, li {
	text-align: left;
	max-width: 550px;
	margin: 0 auto 25px auto;
	line-height: 20px;
}

.blockquote-container {
	margin-bottom: 30px;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

.subheaders {
	text-align: center;
}

aside {
	font-family:'Times New Roman', Times, serif;
}

blockquote {
	font-style: italic;
	padding: 10px;
	width: 75%;
	max-width: 750px;
	margin: 20px auto;
	border-radius: 5px;
	font-size: 30px;
}

blockquote::before {
    content: '\201C';
}

blockquote::after {
    content: '\201D';
}

a {
	color: rgb(223, 221, 235);
}
a:hover {
	color: rgb(47, 129, 58);
}

.main-footer {
	color:rgb(223, 221, 235);
	padding: 20px 0px;
	color: rgb(122, 153, 110);
}

#footer-text {
	text-align: center;
	margin: auto;
	line-height: 30px;
}

#read-more {
	font-size: 24px;
	margin: 20px auto;
	text-align: center;
	max-width: 70%;
	color: rgb(168, 221, 148);
}

/*
	=============================
	Responsive Design
	=============================
*/

@media (max-width: 550px) {
	img {
		width: 95%;
		margin: auto;
	}
	figure {
		padding: 10px 15px 5px 15px;
		width: 90%;
		margin: auto;
	}
	.img-caption {
		margin-top: 0px;
	}
}

@media (max-width: 750px){
	h1 {
		font-size: 72px;
	}
}